.nav {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    background-color: #bdbdbd;
}

nav {
    height: 110px;
    font-size: 14px;
    border-bottom: #bdbdbd solid 3px;
}

.navbar-nav {
    width: 80%;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

i {
    width: 100%;
    height: 30%;
    text-align: center;
}

.image {
    margin: auto;
    display: block;
    margin-top: 15%;
}

.sub-bar ul li {
    float: left;
    display: inline;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    color: rgb(139, 139, 139);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(228, 226, 226);
}

.footer ul li {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    justify-content: flex-start;
}